body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.form-300px {
    max-width: 350px;
    margin: 0 auto;
}

.form-600px {
    max-width: 600px;
    margin: 0 auto;
}

.form-fullheight {
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes logo-anim {
    0% {
        transform: rotateY(0deg);
    }
    25%{
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.mainlogo {
    height: 40px;
}

.mainlogo:target {
    animation: logo-anim 2s linear;
}

.welcome-pic {
    width: 15rem;
}

.managebtn {
    width: 11rem;
}

.openbtn {
    width: 8rem;
}

@keyframes progressbar-anim {
    from {
        width: 0%;
    }
}

@keyframes progresstext-anim {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%
    }
}

.student-progress-bar {
    animation: progressbar-anim 1s ease;
}

.student-progress-text {
    animation: progresstext-anim 1s ease;
}